<h1>Followers</h1>
<ul style="list-style: none;">
  <% @user.follower_users.each do |u| %>
    <li class="clearfix" style="margin-bottom: 6px;"><%= gravatar_for u, size: 50 %><%= link_to u.name, u %></li>
  <% end %>
</ul>